.otto-background {
    background-image: url('https://swsmokle.github.io/ist263/images/orange'); 
    background-repeat: repeat; 
    height: 100vh
    margin: 0
}

.orange-paragraph {
    background-color: #FFDDC1;
    border: 2px solid #ff8347; 
}
