body {
    background-color: #FAF7F0; 
    color: #4A4947;            
}

a {
    color: #C5705D;         
}

h1, h2,  {
    color: #150A07;     
}


nav {
    background-color: #D6B7A7; 
     padding: 10px;  
   margin-bottom: 30px;   
}

nav a {
    color: #D0B8A8;         
}

nav a:hover {
    background-color: #FFB0B0; 
}
